################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/AnotherAir/**/*/AnotherAir/v15
/src/AnotherAir/**/*/Debug
/src/AnotherAir/*.user
/src/AnotherAir/*.user
/src/AnotherAir/**/*/.vs