################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/AnotherAir/.vs/AnotherAir/v15
/src/AnotherAir/obj/Debug
/src/AnotherAir/AnotherAir.v3.ncrunchsolution.user
